{% extends 'index.html' %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="mt-3 content">
            <div class="mb-2 text-light">
                <h5 class="text-center">Register</h5>
                {% for messages in get_flashed_messages() %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{messages}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                <form method="POST" action="{{url_for('auth.register')}}">
                    {{ form.csrf_token }}
    
                    {{ form.username.label(class='form-label') }}
                    {{ form.username(class="form-control", placeholder="Username") }}
    
                    {{ form.email.label(class='form-label') }}
                    {{ form.email(class="form-control", placeholder="example@mail.com") }}
    
                    {{ form.password.label(class='form-label') }}
                    {{ form.password(class="form-control", placeholder="Password") }}

                    <br>
                    <div class="row justify-content-evenly">
                        <div class="col">
                            <a href="{{url_for('auth.login')}}" class="btn btn-dark"  aria-disabled="true">Sign in</a>
                        </div>
                        <div class="col-auto">
                            {{ form.register(class="btn btn-light") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>    
{% endblock %}